.body {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #161413;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}
.container.parts {
  overflow: hidden;
  border: 6px green solid;
  max-width: 1170px !important;
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container.parts {
    max-width: 86% !important;
  }
}
.navBar {
  width: 100%;
}
.navBar header {
  width: 1250;
  margin: auto;
}
#img-figure {
  max-width: 155%;
  height: auto;
  padding-top: -5rem;
  /* margin-bottom: 22rem; */
  margin-top: -1.5rem;
  margin-left: -1rem;
}
.navbar-brand {
  display: flex;
  width: 5rem;
  height: 7rem;
  margin-right: 11rem !important;
  cursor: pointer;
}
.Paradise {
  font-size: 1.3rem;
  color: #00ffea;
  font-family: "Poppins", sans-serif;
  margin-top: 4rem;
  margin-left: -3rem;
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .navBar header {
    margin-left: auto;
    width: 93%;
  }
  .nav__menu {
    font-size: 1.1rem !important;
  }
  .nav-item {
    padding-left: 2rem !important;
  }
  .navbar-nav {
    margin-top: -4rem !important;
    margin-left: 4rem !important;
  }
  #img-figure {
    width: 130px;
    height: 120px !important;
    margin-left: -4rem;
  }
  .Paradise {
    font-size: 1.5rem !important;
    margin-left: -3rem !important;
    margin-top: 0.7rem !important;
    font-family: "Poppins", sans-serif;
  }
}
@media (min-width: 1204px) and (max-width: 1399px) {
  .nav__menu {
    font-size: 1.1rem !important;
  }
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 15rem !important;
    margin-top: 3rem;
  }
  .Paradise {
    font-size: 1.5rem !important;
    margin-left: -4rem !important;
    margin-top: 0.9rem !important;
  }
  #img-figure {
    max-width: 12rem !important;
    height: 8rem !important;
    margin-top: -4.5rem !important;
    margin-left: -2rem;
  }

  .nav-item {
    padding-left: 2rem !important;
  }
  .navbar-nav {
    margin-top: -4rem !important;
    margin-left: -1rem !important;
  }
}

@media (min-width: 1200px) {
  .nav__menu {
    font-size: 1.1rem !important;
  }
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 15rem !important;
    margin-top: 3rem;
  }
  .Paradise {
    font-size: 1.5rem !important;
    margin-left: -4rem;
    margin-top: 2.4rem;
  }
  #img-figure {
    max-width: 12rem;
    height: 10rem;
    margin-top: -4.5rem;
  }

  .nav-item {
    padding-left: 2.8rem;
  }
  .navbar-nav {
    margin-top: -1rem;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navBar {
    margin-top: -3rem !important;
    margin-left: -7rem;
  }

  .navbar-brand {
    margin-left: 8rem;
    margin-top: 4rem;
  }
  .navbar-nav {
    margin-top: 2rem !important;
    margin-left: -1.5rem;
  }
  .navBar header {
    margin-left: 7rem;
    margin-right: 8rem;
    width: 100%;
  }
  #img-figure {
    margin-left: -10rem;
    margin-top: -2rem;
    /* margin-bottom: 1rem; */
    height: 7rem;
  }
  .nav-item {
    padding-bottom: 1.1rem;
  }
  .nav__menu {
    color: gray !important;
    font-size: 1.2rem !important;
  }
  .Paradise {
    font-size: 1.5rem;
    margin-top: 2.7rem;
  }
}
@media screen and (min-width: 429px) and (max-width: 768px) {
  .navBar {
    margin-top: -3rem !important;
    margin-left: -7rem;
  }

  .navbar-brand {
    margin-left: 8rem;
    margin-top: 4rem;
  }
  .navbar-nav {
    margin-top: 2rem !important;
    margin-left: -1.5rem;
  }
  .navBar header {
    margin-left: 7rem;
    margin-right: 8rem;
    width: 100%;
  }
  #img-figure {
    margin-left: -10rem;
    margin-top: -2rem;
    /* margin-bottom: 1rem; */
    height: 7rem;
  }
  .nav-item {
    padding-bottom: 1.1rem;
  }
  .nav__menu {
    color: rgb(211, 211, 211) !important;
    font-size: 1.2rem !important;
  }
  .Paradise {
    font-size: 1rem;
    margin-top: 3.1rem;
  }
}

@media screen and (min-width: 322px) and (max-width: 430px) {
  .navBar {
    margin-top: -3rem !important;
    margin-left: auto;
  }

  .navbar-brand {
    margin-left: 0rem;
    margin-top: 4rem;
  }
  .navbar-nav {
    margin-top: 5rem !important;
    margin-left: 1rem;
  }
  .navBar header {
    margin-left: 1rem;
    margin-right: 8rem;
    width: 95%;
  }
  #img-figure {
    margin-left: -2rem;
  }
  .nav-item {
    padding-bottom: 1rem;
  }
  .nav__menu {
    color: gray !important;
  }
  #img-figure {
    margin-left: -1rem;
    margin-top: -2rem;
    /* margin-bottom: 1rem; */
    height: 7rem;
  }
  .Paradise {
    font-size: 1.1rem;
    margin-left: -3.3rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 56px) and (max-width: 323px) {
  .navBar {
    margin-top: -3rem !important;
    margin-left: 0rem;
  }

  .navbar-brand {
    margin-left: 0rem;
    margin-top: 4rem;
  }
  .navbar-nav {
    margin-top: 1rem !important;
    margin-left: -1.5rem;
  }
  .navBar header {
    margin-left: 0rem;
    margin-right: 8rem;
    width: 99%;
  }
  #img-figure {
    margin-left: -2rem;
    height: 7rem;
    margin-top: -2rem;
  }
  .Paradise {
    font-size: 1rem;
    margin-left: -3.3rem;
    margin-top: 3.1rem;
  }
  .nav-item {
    padding-bottom: 1rem;
  }
  .nav__menu {
    color: lightgray !important;
    font-size: 1rem !important;
  }
}
#navbarSupportedContent {
  margin-bottom: -3rem;
  padding-left: 1rem;
  font-size: 1.3rem;
  color: #fff;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  flex-flow: wrap;
  align-content: space-between;
  justify-content: center;
  margin-top: 0rem;
  margin-left: 5rem;
}

.nav__menu {
  font-size: 1.5rem;
  color: lightgray;
  transition: width 2s ease-in 3s;
  text-decoration: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.nav__menu:hover {
  color: #00ffea;
}
.d-flex {
  margin-left: 3rem;
  margin-bottom: -1rem;
}
.btn__nav {
  width: 8rem;
  margin-top: 0.8rem;
  color: black;
  background-color: lightgray;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-radius: 40rem;
  outline: none;
  border: none;
}

.btn__navbar {
  margin-left: 2rem;
}
.btn__nav:hover {
  background-color: #00ffea;
}
.btnNav {
  width: 8rem;
  height: 2rem;
  margin-left: 9rem;
  margin-top: -2.4rem;
  color: black;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-radius: 40rem;
  outline: none;
  border: none;
}
.btnNav:hover {
  background-color: #00ffea;
}
.england {
  position: absolute;
  top: -40px;
  left: 46px;
  background-color: transparent;
  color: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.england img {
  width: 40px;
  height: 20px;
  margin-right: 5px;
}
.select-lang {
  background-color: transparent;
  color: #d2d2d2;
  border: none;
  font-size: 20px;
  margin-top: 1rem;
  cursor: default;
  font-weight: 600;
}
.select-lang option {
  background-color: #000;
}
.dustbin {
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-decoration: none;
  margin-left: 14rem;
  margin-top: -5rem;
}
.bi {
  font-weight: 900;
  color: lightgray;
  font-size: 3.3rem;
}
@media (min-width: 1400px) and (max-width: 1440px) {
  .england {
    left: 29rem;
    margin-top: -3rem;
  }
  .england img {
    width: 50px !important;
    height: 20px !important;
    margin-bottom: -1rem !important;
    margin-left: 5rem !important;
  }
  .dustbin {
    margin-left: 48rem !important;
    margin-top: -5.7rem !important;
  }
  .bi {
    font-size: 2.2rem !important;
    margin-top: 0rem !important;
    margin-left: 0rem !important;
  }
  .btn__nav {
    margin-left: 31rem;
    margin-top: -2rem;
  }
  .btnNav {
    margin-left: 41rem !important;
    margin-top: -2.4rem;
  }
}
@media (min-width: 1201px) and (max-width: 1399px) {
  .navbar-expand-xl {
    justify-content: flex-start;
  }
  #navbarSupportedContent {
    font-size: 1.8rem !important;
    margin-top: 1rem;
  }
  .d-md-flex {
    display: inline-block !important;
  }
  .btn__nav {
    width: 8.5rem !important;
    font-size: 1rem !important;
    height: 2rem !important;
    margin-left: 31rem;
    margin-top: -2rem;
  }
  .btnNav {
    width: 8rem !important;
    height: 2rem !important;
    margin-left: 40rem;
  }
  .england img {
    width: 50px;
    height: 20px;
    margin-bottom: -1rem;
    margin-left: 0rem;
  }
  .england {
    top: -79px !important;
    left: 34rem;
  }
  .bi {
    font-size: 2.5rem !important;
    margin-top: -1rem !important;
    margin-left: 33rem !important;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    flex-flow: wrap !important;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    justify-content: flex-start;
  }
  #navbarSupportedContent {
    font-size: 1.8rem !important;
    margin-top: 1rem;
  }
  .d-md-flex {
    display: inline-block !important;
  }
  .btn__nav {
    width: 8.5rem !important;
    font-size: 1rem !important;
    height: 2rem !important;
  }
  .btnNav {
    width: 8rem !important;
    height: 2rem !important;
    margin-left: 10rem;
  }
  .england img {
    width: 50px;
    height: 20px;
    margin-bottom: -1rem;
    margin-left: 0rem;
  }
  .england {
    top: -39px;
  }
  .bi {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
    align-items: self-start;
    text-align: start;
    margin-left: -21rem;
    margin-bottom: -17rem;
  }
  .england {
    top: -15.2rem;
    left: 1rem;
  }
  .select-lang {
    margin-top: 0rem;
  }
  .bi {
    font-size: 2.3rem;
  }
  .dustbin {
    margin-top: -15rem;
  }
  .btn__navbar {
    padding-bottom: 3rem !important;
  }
  .btn__nav {
    width: 9rem;
    font-size: 1rem;
    height: 2.1rem;
  }
  .btnNav {
    margin-left: 10rem;
  }
}
@media screen and (min-width: 429px) and (max-width: 768px) {
  .england {
    top: -15rem;
    left: 1rem;
  }
  .bi {
    font-size: 2.3rem;
    margin-left: -7rem;
  }
  .dustbin {
    margin-top: -15.8rem;
    margin-left: 14rem;
  }
  .btn__navbar {
    padding-bottom: 3rem !important;
  }
}
@media screen and (min-width: 322px) and (max-width: 430px) {
  .england {
    top: -17rem;
    left: 1rem;
  }
  .bi {
    font-size: 2.3rem;
    margin-left: -7rem;
  }
  .dustbin {
    margin-top: -17rem;
  }
  .btn__navbar {
    padding-bottom: 3rem !important;
  }
}
@media screen and (min-width: 200px) and (max-width: 323px) {
  .england {
    top: -14rem;
    left: 1rem;
  }
  .select-lang {
    margin-top: 0rem;
  }
  .bi {
    font-size: 2.3rem;
    margin-left: -7rem;
  }
  .dustbin {
    margin-top: -14rem;
  }
  .btn__navbar {
    padding-bottom: 3rem !important;
  }
  .btn__nav {
    width: 9rem;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin-left: -1rem;
  }
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  border-radius: 4px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(images/download.png);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
@media screen and (min-width: 1200px) {
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .navbar-expand-lg .navbar-toggler {
    display: inline-block !important;
  }
  .navbar-toggler-icon {
    margin-left: -2rem;
    margin-top: 4rem;
  }
  .navbar-collapse {
    flex-basis: 100% !important;
    flex-grow: 1;
    align-items: center;
  }
  .collapse:not(.show) {
    display: none !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
}
@media screen and (min-width: 429px) and (max-width: 768px) {
  .navbar-toggler-icon {
    margin-left: -2rem;
  }
}
@media screen and (min-width: 322px) and (max-width: 430px) {
  .navbar-toggler-icon {
    margin-left: -3rem;
    margin-bottom: -4rem;
  }
}
@media screen and (min-width: 56px) and (max-width: 323px) {
  .navbar-toggler-icon {
    margin-left: -2rem;
    margin-top: 5rem;
  }
}
/* Slider*/

.width_slide {
  width: 80.4% !important;
  height: 36rem;
  object-fit: cover;
  margin-left: 8rem;
  /* margin-bottom: -13rem; */
  margin-top: 1rem;
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .width_slide {
    margin-left: 13rem;
    width: 73.4% !important;
  }
}
.Hero__para {
  font-size: 3.3rem;
  color: #00ffea;
  font-weight: 200;
  margin-left: 0rem;
  margin-top: 0rem;
}

.carousel {
  position: relative;
  margin-left: -8rem;
  width: 124%;
}
.carousel-indicators {
  margin-bottom: 30rem !important;
}
.carousel-indicators [data-bs-target] {
  width: 17px !important;
  height: 16px !important;
  border-radius: 50%;
  margin-bottom: 30rem;
  background-color: lightgray;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff !important;
}
.btn {
  border-radius: 13rem !important;
  width: 10rem;
  margin-bottom: 5rem;
  font-weight: 700 !important;
  background-color: #00ffea !important;
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .carousel-indicators {
    margin-left: 7rem !important;
    margin-bottom: 7rem !important;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .width_slide {
    width: 80.4% !important;
    height: 36rem;
    margin-left: 10rem;
  }
  .Hero__para {
    margin-left: 0rem;
    margin-top: -1rem;
  }
  .carousel {
    position: relative;
    margin-left: -10rem;
    margin-top: -2rem;
  }
  .carousel-indicators {
    left: -3rem !important;
    margin-bottom: 6rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Hero__para {
    margin-left: 0rem;
  }
  .carousel {
    position: relative;
    margin-left: -13rem;
    width: 137%;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .Hero__para {
    font-size: 2rem;
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .width_slide {
    width: 77% !important;
  }
  .carousel.pointer-event {
    margin-left: -13rem;
  }
  .carousel-indicators {
    margin-left: 17rem !important;
  }
  .carousel {
    position: relative;
    margin-left: -8rem;
    width: 126% !important;
    height: 19rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 430px) {
  .Hero__para {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .width_slide {
    width: 57% !important;
    height: 11rem;
  }
  .carousel.pointer-event {
    margin-left: -12rem;
  }
  .carousel-indicators [data-bs-target] {
    margin-bottom: 8rem;
  }
  .carousel-indicators {
    left: 13rem !important;
    margin-bottom: 3rem !important;
  }
  .carousel {
    position: relative;
    margin-left: -12rem !important;
    width: 34rem;
    margin-top: -2rem;
  }
}
@media screen and (min-width: 324px) and (max-width: 475px) {
  .Hero__para {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .width_slide {
    width: 57% !important;
    height: 11rem;
  }
  .carousel.pointer-event {
    margin-left: -12rem;
  }
  .carousel-indicators [data-bs-target] {
    margin-bottom: 8rem;
  }
  .carousel-indicators {
    left: 13rem !important;
    margin-bottom: 3rem !important;
  }
  .carousel {
    position: relative;
    margin-left: -12rem !important;
    width: 34rem;
    margin-top: -2rem;
  }
}
@media screen and (min-width: 56px) and (max-width: 323px) {
  .Hero__para {
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 0rem;
  }
  .width_slide {
    width: 62% !important;
    height: 8rem;
  }
  .carousel.pointer-event {
    margin-left: -12rem;
  }
  .carousel-indicators [data-bs-target] {
    margin-bottom: 8rem;
  }
  .carousel-indicators {
    left: 213px !important;
    margin-bottom: 0rem !important;
  }
  .carousel {
    position: relative;
    margin-left: -13.5rem !important;
    width: 180%;
    margin-top: -2rem;
  }
}
.main-section {
  width: 100%;
  min-height: 60vh;
}
.main-section .home-section1 {
  width: 987px;
  margin: 50px auto auto;
}
.home-section1 div h1 {
  color: #00ffea;
  font-size: 3rem;
  margin-bottom: 30px !important;
  margin: -4px;
  font-weight: 200;
  margin-left: -5rem !important;
}
.home-section1 div p {
  color: #d2d2d2;
  font-size: 1.3rem;
}
.home-section1 div p span {
  color: #00ffea;
  font-size: 3.5rem;
  font-weight: 600;
  padding-right: 1rem;
}
.p-my {
  margin-left: -5rem;
  margin-bottom: 0.1rem !important;
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .home-section1 div h1 {
    font-size: 4rem;
    margin-left: 0rem !important;
  }
  .home-section1 div p {
    font-size: 1.4rem;
    margin-left: 0rem !important;
  }
  .main-section .home-section1 {
    width: 71rem;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1030px) and (max-width: 1321px) {
  .home-section1 div h1 {
    margin-left: 5rem !important;
  }
  .p-my {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1029px) {
  .home-section1 div h1 {
    margin-left: 0rem !important;
  }
  .p-my {
    margin-left: 3rem;
  }
  .home-section1 div p {
    font-size: 1.1rem;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .main-section .home-section1 {
    width: 672px;
    margin: 50px auto auto;
  }
  .home-section1 div h1 {
    margin-left: 0rem !important;
    font-size: 2rem !important;
  }
  .p-my {
    margin-left: 3rem;
  }
  .home-section1 div p {
    font-size: 1.2rem;
    margin-left: 0rem;
  }
  .home-section1 div p span {
    display: flex;
  }
}

@media screen and (min-width: 324px) and (max-width: 430px) {
  .main-section .home-section1 {
    width: 330px;
    margin: 50px auto auto;
  }
  .home-section1 div h1 {
    font-size: 2rem;
    text-align: center;
  }
  .home-section1 div p span {
    display: flex;
    text-align: center;
    margin-left: 5rem;
  }
  .p-my {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 156px) and (max-width: 323px) {
  .main-section .home-section1 {
    width: 287px;
    margin: 50px auto auto;
  }
  .home-section1 div h1 {
    font-size: 2rem;
    text-align: center;
  }
  .home-section1 div p span {
    display: flex;
    text-align: center;
    margin-left: 5rem;
  }
  .p-my {
    margin-left: 1rem;
  }
}
.img-card {
  width: 11rem !important;
  height: auto !important;
}

.card {
  border: 1px solid #00ffea !important;
  width: 43rem !important;
  margin-left: 9.6rem;
  background-color: #161413 !important;
}
.card-title {
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  font-size: 2rem;
  font-weight: 500 !important;
  color: lightgray;
}
.card-text {
  margin-left: 1rem !important;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .card {
    width: 45rem !important;
    margin-left: 12.5rem !important;
  }
  .img-fluid {
    margin-top: 0rem;
  }
  .card-title {
    font-size: 2rem;
    margin-left: 0rem;
  }
  .card-text {
    margin-left: 1rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 977px) {
  .img-card {
    margin-bottom: -6rem;
  }
  .card {
    width: 41rem !important;
    margin-left: 2rem !important;
  }
  .card-title {
    margin-left: 0rem;
  }
  .card-text {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 978px) and (max-width: 1024px) {
  .img-card {
    margin-bottom: -12rem;
  }
  .card {
    width: 44rem !important;
    margin-left: 4.2rem;
  }
  .card-title {
    margin-left: 0rem;
  }
  .card-text {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 768px) {
  .card {
    width: 37rem !important;
    margin-left: 4rem !important;
  }
  .img-card {
    margin-bottom: -12rem;
  }
  .card-title {
    margin-left: 0rem;
    font-size: 1.6rem;
  }
  .card-text {
    margin-left: 4rem;
  }
}
@media screen and (min-width: 440px) and (max-width: 765px) {
  .card {
    width: 21rem !important;
    margin-left: 10vw !important;
  }
  .img-card {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .card-title {
    margin-left: 0rem;
    font-size: 1.9rem;
  }
  .card-text {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 362px) and (max-width: 430px) {
  .card {
    width: 21rem !important;
    margin-left: 0rem !important;
  }
  .img-card {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .card-title {
    margin-left: 0rem;
    font-size: 1.9rem;
  }
  .card-text {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 361px) {
  .card {
    width: 18rem !important;
    margin-left: 0.4rem !important;
  }
  .img-card {
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .card-title {
    margin-left: 0rem;
    font-size: 1.9rem;
  }
  .card-text {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 306px) and (max-width: 320px) {
  .card {
    width: 18rem !important;
    margin-left: 0rem !important;
  }
  .card-title {
    margin-left: 0rem;
  }
  .img-card {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 307px) {
  .card {
    width: 67% !important;
    margin-left: 0rem !important;
  }
  .card-title {
    margin-left: 0rem;
  }
  .img-card {
    margin-left: 0rem;
  }
}

.btn-card {
  display: inline-block;
  width: 8rem;
  border-radius: 13rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin-top: 9rem;
  margin-left: 0rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bi-card {
  font-weight: 900;
  color: lightgray;
  font-size: 1.3rem;
}
.btn-card1 {
  display: inline-block;
  width: 18rem;
  border-radius: 13rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  margin-top: -4rem;
  margin-left: 10rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bi-card1 {
  font-weight: 900;
  color: lightgray;
  font-size: 1.3rem;
}
@media screen and (min-width: 2000px) and (max-width: 2560px) {
  .btn-card {
    width: 9rem;
    font-size: 2rem;
  }
  .bi-card {
    font-size: 2.3rem !important;
  }
  .btn-card1 {
    width: 17rem;
    margin-top: -6rem;
    margin-left: 11rem;
    font-size: 1.4rem;
  }
  .bi-card1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 977px) {
  .btn-card {
    margin-left: -6rem;
  }
  .btn-card1 {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 758px) and (max-width: 768px) {
  .btn-card {
    width: 5rem;
  }
  .btn-card1 {
    width: 16rem;
    margin-left: 6rem;
  }
}
@media screen and (min-width: 447px) and (max-width: 757px) {
  .btn-card {
    width: 5rem;
  }
  .btn-card1 {
    width: 12rem;
    margin-left: 6rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 362px) and (max-width: 430px) {
  .btn-card {
    width: 5rem;
  }
  .btn-card1 {
    width: 12rem;
    margin-left: 6rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 315px) and (max-width: 350px) {
  .btn-card {
    width: 5rem;
    margin-left: -1rem;
  }
  .btn-card1 {
    width: 12rem;
    margin-left: 4.4rem;
    font-size: 1rem;
  }
}

.btn_news {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  color: #212529;
  border-radius: 43rem;
  background-color: lightgray;
  margin-top: 5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col-6 {
  width: 28% !important;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .btn_news {
    font-size: 1.5rem;
    width: 21rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .btn_news {
    border-radius: 2rem;
    font-size: 1.5rem;
  }
  .news {
    width: 46rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .col-6 {
    width: 34% !important;
  }
  .btn_news {
    border-radius: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .col-6 {
    width: 106% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 323px) {
  .col-6 {
    width: 106% !important;
  }
  .btn_news {
    width: 17rem;
    margin-left: 0.5rem;
  }
}
.display-3 {
  margin-left: -5rem;
  line-height: 3.2 !important;
  color: #00ffea;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .display-3 {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .display-3 {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 323px) {
  .display-3 {
    font-size: 1.6rem !important;
    line-height: 7.2 !important;
  }
}
.card-img-top {
  height: 13rem;
}
.card-Active {
  width: 17rem;
  margin-left: -2rem;
}
.row-cols-md-3 > * {
  flex: 0 0 auto;
  width: 31.333333% !important;
}
.card-title-active {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 800;
  color: lightgray;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
  width: 5rem;
  color: #00ffea !important;
  float: left;
}
.card-text-ative-comp {
  color: #00ffea !important;
}
.progress {
  border: 2px solid #00ffea;
  width: 100%;
  height: 3vh !important;
  border-radius: 50px !important;
  position: relative;
  margin-top: -3rem;
  background-color: transparent !important;
}
.card-body-active {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-top: 2rem;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .card-Active {
    width: 33rem;
    margin-left: -2rem;
  }
  .card-img-top {
    height: 15rem !important;
    object-fit: cover;
    width: 61% !important;
    margin-left: 2rem;
  }
  .progress {
    width: 60% !important;
    margin-left: 2rem;
  }
  .row-cols-md-3 > * {
    width: 29.333333% !important;
  }
  .card-title-active {
    font-size: 1.4rem;
    margin-left: 2rem;
  }
  .text-decoration-line-through {
    width: 9rem;
    margin-right: -1rem;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1440px) {
  .row-cols-md-3 > * {
    width: 29.333333% !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1198px) {
  .card-Active {
    margin-left: 4rem;
  }
  .row-cols-md-3 > * {
    width: 29.333333% !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .display-3 {
    margin-left: 0rem;
  }
  .card-Active {
    margin-left: -0.6rem;
  }
  .row.row-cols-md-3 {
    width: 87%;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .row-cols-md-3 > * {
    width: 19.333333% !important;
  }
  .card-Active {
    width: 11rem;
    margin-left: 1rem;
  }
  .card-img-top {
    height: 10rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .display-3 {
    margin-left: 0rem;
    font-size: 2rem !important;
  }
  .row-cols-md-3 > * {
    width: 44.333333% !important;
  }
  .card-Active {
    width: 15rem;
    margin-left: -1rem;
  }
  .progress {
    margin-left: 0.2rem;
    width: 96%;
  }
}
@media screen and (min-width: 324px) and (max-width: 430px) {
  .display-3 {
    font-size: 1.9rem !important;
    margin-left: 3rem;
  }
  .row-cols-md-3 > * {
    width: 50.333333% !important;
  }
  .card-Active {
    width: 15rem;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 150px) and (max-width: 323px) {
  .display-3 {
    font-size: 1.6rem !important;
    line-height: 4.2 !important;
    margin-left: 2rem;
  }
  .row-cols-md-3 > * {
    width: 50.333333% !important;
  }
  .card-Active {
    width: 15rem;
    margin-left: 2rem;
  }
}
.winners .display-2 {
  color: #00ffea;
  margin-left: -3rem;
  font-size: 4rem;
}
.loveit {
  width: 100% !important;
  font-size: 2rem !important;
  margin-left: 20rem;
  padding-top: 90px;
  color: #5a5a5a !important;
  margin-top: 27rem;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .winners .display-2 {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 1199px) and (max-width: 1440px) {
  .winners .display-2 {
    margin-left: -5rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1198px) {
  .winners .display-2 {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .winners .display-2 {
    margin-left: 0rem;
  }
  .loveit {
    margin-left: 13rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .winners .display-2 {
    margin-left: 1rem;
  }
  .loveit {
    margin-left: 9rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .winners .display-2 {
    margin-left: 0rem;
    font-size: 2rem;
  }
  .loveit {
    font-size: 1.7rem !important;
    margin-left: 8rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .winners .display-2 {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .loveit {
    font-size: 1.5rem !important;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 374px) {
  .winners .display-2 {
    margin-left: 3rem;
    font-size: 2rem;
  }
  .loveit {
    font-size: 1rem !important;
    margin-left: 2rem;
  }
}
.Display_cust {
  font-size: 3.4rem !important;
  margin-top: 7rem;
  color: #00ffea;
  margin-left: -5rem;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .Display_cust {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .Display_cust {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1198px) {
  .Display_cust {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .Display_cust {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .Display_cust {
    font-size: 2rem !important;
    margin-left: 0rem;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .Display_cust {
    font-size: 2.1rem !important;
    margin-left: 6rem;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 323px) {
  .Display_cust {
    font-size: 1.6rem !important;
    margin-left: 5rem;
    margin-top: 4rem;
  }
}

.section5 > div.row {
  min-height: 40vh;
  border: 1px solid #d2d2d2;
  margin: 50px auto 0;
  margin-left: -4.7rem;
  justify-content: space-evenly;
}
.excellent {
  margin-left: 2rem;
  margin-top: 0rem;
  width: 13rem;
  font-size: 2rem;
  color: lightgray;
}
.section5 > div.row > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem !important;
  margin-top: 1rem;
}
.part1 {
  margin-left: 3rem !important;
  margin-top: 3rem !important;
}
.section5 .stars .bi {
  font-size: 1.5rem;
  background-color: #00b67a;
  color: #fff;
  padding: 7px;
  margin-left: 4px;
}
.section5 .exce {
  color: lightgray;
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 1rem;
  margin-left: 1rem;
}
.section5 .exce1 {
  color: lightgray;
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 1rem;
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .section5 > div.row {
    margin-left: 0.4rem;
    width: 70rem;
    min-height: 36vh;
  }
  .section5 > div.row > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem !important;
    margin-top: 1rem;
  }
  .section5 .stars i {
    font-size: 2.1rem !important;
    background-color: #00b67a;
    color: #fff;
    padding: 7px;
    margin-left: 4px;
  }
  .part1 {
    margin-left: 6rem !important;
    margin-top: 4rem !important;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1440px) {
  .section5 .stars i {
    font-size: 2rem !important;
    background-color: #00b67a !important;
    color: #fff !important;
    padding: 7px !important;
    margin-left: 4px !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1198px) {
  .section5 .row {
    width: 51rem !important;
  }
  .section5 .stars i {
    font-size: 1rem !important;
    background-color: #00b67a !important;
    color: #fff !important;
    padding: 7px !important;
    margin-left: 4px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .section5 .row {
    width: 52.8rem !important;
    margin-left: 0rem !important;
  }
  .section5 .stars i {
    font-size: 1rem !important;
    background-color: #00b67a !important;
    color: #fff !important;
    padding: 7px !important;
    margin-left: 4px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .section5 .row {
    width: 42rem !important;
  }
  .section5 > div.row {
    margin-left: 1rem;
  }
  .section5 .stars i {
    font-size: 1rem !important;
    background-color: #00b67a !important;
    color: #fff !important;
    padding: 7px !important;
    margin-left: 4px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  .section5 > div.row {
    width: 42rem;
  }
  .section5 > div.row {
    margin-left: 0rem;
  }
  .section5 > div.row > div:first-child {
    margin-left: -2rem !important;
  }
}
@media screen and (min-width: 530px) and (max-width: 769px) {
  .section5 > div.row {
    width: 43rem;
  }
  .part1 {
    margin-left: 12rem !important;
  }
  .section5 > div.row {
    margin-left: 0rem;
  }
  .section5 > div.row > div:first-child {
    margin-left: -2rem !important;
  }
}
@media screen and (min-width: 431px) and (max-width: 531px) {
  .section5 > div.row {
    width: 25rem;
  }
  .section5 > div.row {
    margin-left: 0rem;
  }
  .section5 > div.row > div:first-child {
    margin-left: -2rem !important;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .section5 .row {
    width: 23rem !important;
    margin-left: -1rem !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 376px) {
  .section5 > div.row {
    width: 18rem;
    margin-left: 0.1rem !important;
  }
  .section5 .exce1 {
    margin-left: 1rem;
  }
  .section5 > div.row > div:first-child {
    margin-left: 0rem !important;
  }
}
.section5 .row {
  width: 71rem;
}
.section6 .display-2 {
  margin-left: 0rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: #00ffea;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .section6 .display-2 {
    margin-left: 0rem;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1198px) {
  .section6 .display-2 {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .section6 .display-2 {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .section6 .display-2 {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .section6 .display-2 {
    margin-left: 0rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .section6 .display-2 {
    margin-left: 7rem;
    margin-top: 4rem;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 374px) {
  .section6 .display-2 {
    margin-left: 6rem;
    margin-top: 4rem;
    font-size: 1.4rem;
  }
}
.section6 .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  /* margin-left: calc(var(--bs-gutter-x) * -.5); */
  margin-left: -8.6rem !important;
}
.section6 .col-md-8 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin-left: 8.5rem;
  flex: 0 0 auto;
  width: 88.666667%;
  padding-top: 2rem;
  border: 1px solid lightgray;
  justify-content: space-evenly;
}
.video_gift {
  width: 84% !important;
  height: 10rem !important;
}

.img-gift {
  max-width: 84% !important;
  height: 10rem !important;
  margin-left: 3rem;
}
.img-gift1 {
  max-width: 84% !important;
  height: 10rem !important;
  margin-left: 3rem;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .section6 .col-md-8 {
    margin-left: 9rem;
    width: 70rem;
    justify-content: space-evenly;
  }
  .video_gift {
    width: 18rem !important;
    height: 18rem !important;
    margin-left: 0rem;
    margin-top: -2rem;
  }
  .img-gift {
    max-width: 82% !important;
    height: 16rem !important;
    margin-left: 3.4rem;
    padding-top: 2rem;
  }
  .img-gift1 {
    max-width: 86% !important;
    height: 15.7rem !important;
    margin-left: 3rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1198px) {
  .section6 .col-md-8 {
    padding-left: 0rem;
  }
  .section6 .row {
    margin-left: -13rem !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .section6 .row {
    width: 59.7rem;
  }

  .img-gift {
    max-width: 100% !important;
    margin-left: 0.6rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .section6 .col-md-8 {
    width: 85.666667%;
    padding-left: -1rem;
    padding-top: 2rem;
    margin-left: 7rem;
  }
  .section6 .row {
    margin-left: -7rem !important;
  }

  .video_gift {
    margin-left: -5rem !important;
  }
  .img-gift {
    margin-left: 1rem;
  }
  .img-gift1 {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .section6 .col-md-8 {
    width: 82.666667%;
    padding-left: -1rem;
    padding-top: 2rem;
    margin-left: 9rem;
  }
  .video_gift {
    width: 13rem !important;
    height: 10rem !important;
    margin-top: -1rem;
    margin-left: -6rem;
  }
  .img-gift {
    max-width: 84% !important;
    height: 9rem !important;
    margin-left: 2rem;
  }
  .img-gift1 {
    max-width: 84% !important;
    height: 9rem !important;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .section6 .col-md-8 {
    margin-left: 10rem;
    width: 66.666667%;
  }
  .video_gift {
    width: 15rem !important;
    margin-left: -3.8rem;
  }
  .img-gift {
    max-width: 101rem !important;
    height: 10rem !important;
    margin-left: -15rem;
    margin-top: 13rem;
  }
  .img-gift1 {
    max-width: 86rem !important;
    height: 10rem !important;
    margin-left: -15rem;
    margin-top: 26rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 374px) {
  .section6 .col-md-8 {
    width: 64.666667%;
    margin-left: 9rem;
  }
  .video_gift {
    width: 11rem !important;
    height: 8rem !important;
    margin-left: -3.4rem;
  }
  .img-gift {
    max-width: 84rem !important;
    margin-left: -10rem;
    max-width: 84rem !important;
    height: 7rem !important;
    margin-left: -10rem;
    margin-top: 13rem;
  }
  .img-gift1 {
    max-width: 84rem !important;
    height: 7rem !important;
    margin-left: -11rem;
    margin-top: 24rem;
  }
}
.section7 .display-6 {
  font-size: 2rem !important;
  color: grey;
  font-weight: 500;
  /* margin-bottom: 1rem; */
  margin-top: 9rem;
  text-align: center;
  margin-bottom: 4rem;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.fb {
  border-radius: 50%;
  border: 7px solid transparent;
  padding: 1rem;
  background-color: lightgray;
  color: black;
}
.fb:hover {
  background-color: rgb(82, 78, 183);
}
.insta {
  margin-left: 1rem !important;
  border-radius: 50%;
  border: 7px solid transparent;
  padding: 1rem;
  background-color: lightgray;
  color: black;
}
.insta:hover {
  background-color: rgb(116, 87, 210);
}
.whats {
  margin-left: 1rem !important;
  border-radius: 50%;
  border: 7px solid transparent;
  padding: 1rem;
  background-color: lightgray;
  color: black;
}
.whats:hover {
  background-color: #00b67a;
}
.you {
  margin-left: 1rem !important;
  border-radius: 50%;
  border: 7px solid transparent;
  padding: 1rem;
  background-color: lightgray;
  color: black;
}
.you:hover {
  background-color: red;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
}
.imglogoo {
  text-align: center;
}
.img-logoo {
  width: 9rem;
  /* text-align: center; */
  margin-top: 3rem;
}
.btn-img-logoo {
  text-align: center;
  width: 21rem;
  margin-top: 3rem;
  background-color: rgb(216, 210, 210) !important;
}
.btn-img-logoo:hover {
  background-color: #00ffea !important;
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .btn-img-logoo {
    height: 4rem;
    margin-left: 1rem;
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1398px) {
  .section7 .bi {
    font-size: 2.5rem;
    margin-left: 0rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .btn-img-logoo {
    margin-left: -5rem;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .section7 .bi {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 430px) {
  .section7 .bi {
    margin-left: 0rem;
  }
  .btn-img-logoo {
    margin-left: 2rem;
    width: 18rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 374px) {
  .section7 .bi {
    margin-left: 0rem;
  }
  .btn-img-logoo {
    width: 16rem;
    margin-left: 2rem;
  }
}
.footer .display-6 {
  text-align: center;
  color: gray;
  font-weight: 500;
}
.iconpay {
  text-align: center;
  margin-top: 3rem;
}
.contact {
  width: 4rem;
  border: 1px solid blue;
}
.visa {
  width: 4rem;
}
.master {
  width: 4rem;
  border: 1px solid blue;
}
.paypal {
  width: 4rem;
  border: 1px solid blue;
  margin-left: 1rem;
}
.text-center {
  text-align: center !important;
  /* margin-top: 0rem; */
  color: gray;
  font-weight: 700;
}
.fs-8 {
  font-size: 1.1rem !important;
  /* margin-right: 4rem; */

  color: gray;
  font-weight: 500;
}
.footer .col-lg-3 {
  display: flex;
}
.copyright {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem !important;
}
@media screen and (min-width: 1000px) and (max-width: 1206px) {
  .fs-8 {
    font-size: 0.8rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .fs-8 {
    font-size: 0.6rem !important;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 374px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
  }
}
